<h1><%= @product.title %></h1>
<img <%= image_tag @product.image, width: 200 if @product.image.attached? %> />
<p><%= @product.description %></p>

<h3><%= @product.price %>€</h3>

<%= link_to 'Editar artículo', edit_product_path(@product) %>

<%= link_to 'Eliminar artículo', product_path(@product), data: {
    turbo_method: :delete, 
    turbo_confirm: 'Vas a eliminar este artículo. ¿Estás seguro?'
    }  %>